@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.manu{
  text-align: right;
  margin-left: 8%;
  margin-top: 4.5%;
}
p{
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
}
h1{
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
li{
  color: #4accbd;
  font-size: 18px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.manu{
  margin-left: 8%;
  margin-top: 4%;
}
.button a {
  font-size: 12px;
  text-decoration: none;
  outline: none;
  padding: 15px 15px;
  position: relative;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.button a:hover {background: rgba(0, 101, 86, 0.4);}
.logo{
  font-size: 120%;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 25% 40%;
  margin-top: 45%;
  position: relative;
  color: white;
  border: 2px solid #fff;
  background: none;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.logo:hover{
  border: 2px solid #e8cd00;
}
.logo a:hover{
  color: #e8cd00;
}
.logo a{
  color: #fff;
}